/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}
/******************************************
/* FONT STYLE AND SIZE
/*******************************************/
html {
  font-size: 62.5%;
}
nav {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}
main * {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  color: white;
}

/******************************************
/* HEADER
/*******************************************/
nav ul {
  display: flex;
  list-style: none;
  margin: 3rem 0;
}
a {
  text-decoration: none;
  color: black;
}
nav img {
  width: 7%;
  margin-right: auto;
}
nav li {
  margin-right: 7rem;
}
/******************************************
/* MAIN SECTION
/*******************************************/
.main {
  display: flex;
  align-items: center;
  margin: 3rem 0;
}

.mainP {
  padding: 0 4rem;
  width: 70%;
}
.mainP > p {
  margin: 20px 0;
}
.filesimg {
  display: flex;
  justify-content: space-around;
}
.filesimg img {
  width: 80%;
  padding: 0 5rem;
}
#eInput {
  width: 50%;
  padding: 0.5rem;
}
#submitBtn {
  color: white;
  border-radius: 0.3rem;
  background: rgb(103, 149, 246);
  width: 30%;
  padding: 0.5rem;
  margin: 0 0.5rem;
}
/******************************************
/* MEDIA QUERIES FIRST SECTION
/*******************************************/
@media all and (max-width: 375px) {
  .main .One {
    flex-wrap: wrap;
  }
}
/******************************************
/* SECOND SECTION
/*******************************************/

.main.Two {
  background-image: url('images/bg-curve-desktop.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 10%;
}
#card{
  box-shadow: 5px 5px 16px grey;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  width: 60%;
}
#card > p {
  line-height: 200%;
}
#fylo {
  color: green;
  text-decoration: underline;
}

#card-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#card-section > p {
  margin-left: 10px;
}
#avatar{
  border-radius: 50%;
}

#last-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #575989;
  padding: 50px 20px;
}
.access {
  flex: 1;
}

.accessP {
  margin: 10px 0;
  padding-right: 30%;
  color: white;
}
